<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <h2>todoリスト</h2>
        <!-- formのサブミットを停止　prevent:防ぐ -->
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">add</button>
        </form>
        <!-- $が付く変数はvueが持っている変数を示す -->
        {{$data}}

        <ul>
            <!-- 削除対象を判断するためforでindexをbuttonに渡す -->
            <li v-for="(todo, index) in todos">
                <input type='checkbox' v-model="todo.isDone">
                <!-- クラス属性をバインド -->
                <span v-bind:class="{done: todo.isDone }">{{ todo.item }}</span>

                <button v-on:click="deleteItem(index)">del</button>
            </li>
        </ul>

    </div>


    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="./main.js"></script>
</body>

</html>